.home-page-blog-section {
    .blog-item {
        .date {
            position: absolute;
            bottom: 10px;
            right: 25%;
            margin: 0 auto;
            width: 50%;
        }
    }
}