#resume {
    ul {
        list-style: circle;
        li {
            padding: 0;
            @apply text-base;
        }
    }

    p {
        @apply text-base;
    }

    strong {
        @apply my-0;
    }

    h2 {
        span {
            background: #002b36;
        }
    }
}